body {
    background: whitesmoke;
}
    
.login {
    background-color: whitesmoke;
    color: black;
    margin: auto;
    text-align: center;
    margin-block-start: 200px;
    
}
.homepage h1 {
    color: #C25100;
}

.regist {
    margin-left: 200px;
}

h1{
    font-family: Arial Narrow, sans-serif;
    font-size: 100px;
}

.btn-grad {background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)}
.btn-grad {
   margin: auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-weight: bold;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 img{
	width: 120px;
	height: 120px;
    margin: auto;
    position: absolute;
	top: 0px;
	left: 0px;
}

a:link 
{ 
 text-decoration:none; 
} 

canvas{
    width:600px !important;
    height:600px !important;
    }
