.soleil{

    fill: rgb(255, 251, 0);


}

.ciel{

    fill: rgb(15, 112, 177);
}

.sol{
    fill: rgb(12, 93, 25);
}

.maison{

    fill: rgb(124, 86, 55);
}

.window{

    fill: rgb(173, 153, 136);
}

.porte{

    fill: rgb(88, 64, 43);
}

.toi{

    fill: rgb(56, 34, 14);
}


.porte:hover{

    fill: rgb(16, 36, 39);
}

