
{% extends 'index.html' %}
{% load widget_tweaks %}


{% block title %}
    {% if user.is_authenticated %}
        <h2>You are already connected.</h2>
    {% else %}
        <h2>Login</h2>
    {% endif %}
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
    {% else %}
        <div class="col-xl-10 col-lg-12 col-md-9 text-center">
            <div class="col-lg-4">
                <form method="POST" class="user">
                    {% csrf_token %}
                    <div class="form-group">
                        {% render_field form.username type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Username" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.password type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" %}
                    </div>
                    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Login</button>
                </form> 
                <div class="text-center">
                    <a class="small" href="{% url 'forgotpass_url' %}">Forgot Password ?</a>
                </div>
                <hr>
                <div class="text-center">
                    <a class="small" href="{% url 'register_url' %}">Create an Account!</a>
                </div>
        </div><br>
    {% endif %}
{% endblock %}
