{% extends 'index.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        <h2>Create a new account</h2>
    {% endblock %}
    {% block content %}
    <form method="POST" class="from-group">
         {% csrf_token %}
        {{form|crispy}}
        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Register</button>
    </form>
    <a href="{% url 'login_url' %}"><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Go Back To Login</button></a>
{% endblock %}
